@{
    ViewBag.Title = "A propos";
}
<h2>@ViewBag.Title</h2>


<p class="jumbotron">Vous pouvez utiliser cette application pour consulter , ajouter ou modifier:</p>
<ol class="page-header">
    <li>les ecritures comptables analytiques</li>
    <li>les plans comptables analytiques à 3 , 4 et 5 chiffres</li>
    <li>les données permanantes</li>
</ol>
 
