@{
    ViewBag.Title = "A propos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p class="jumbotron">Vous pouvez utiliser cette application pour suiver les indicateurs journalier de :</p>
<ol>
    <li>Production</li>
    <li>Embarquement</li>
    <li>Stock</li>
</ol>
<p> Pour les diffirents sieges</p>
