@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Direction Informatique de gestion<br />
    Service developpement informatique<br />
    <abbr title="Phone">Poste :</abbr>
    11 38
</address>

<address>
    <strong>Support technique :</strong>   <a href="mailto:marwen.amara@cpg.com.tn">marwen.amara@cpg.com.tn</a><br />
</address>