@{
    ViewBag.Title = "Liste des Comptes Analytiques à 5 chiffres";
}

<h2>Liste des Comptes Analytiques à 5 chiffres </h2>
<div class="btn-group pull-right   " role="group">
    <button type="button" class="btn btn-default dropdown-toggle pull-right  " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Mode d'affichage
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("Index", "Compte5ch")">Tableau <span class="glyphicon glyphicon-th-list"></span></a></li>
        <li><a href="@Url.Action("Pca5", "Grid")">Grille &nbsp; &nbsp; <span class="glyphicon  glyphicon-list-alt"></span></a></li>
    </ul>
</div> <br />
<hr />
<table id="list" class="col-md-12"></table>
<div id="pager"></div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function myfunction() {
            var pageWidth = $("#list").parent().width() - 100;
            $('#list').jqGrid({
                caption: "Liste des Comptes Analytiques à 5 chiffres ",
                url: '/Grid/getPca5/',
                datatype: "json",
                contentType: "application/json; charset-utf-8",
                mtype: 'GET',
                colNames: ['NUMERO', 'SIEGE ', '  LIBELLE'/*, 'LIBELLE_AR'*/],
                colModel: [
            { name: 'NUMERO', index: 'NUMERO', sorttype: "int", align: 'center', width: (pageWidth * (25 / 100)) },
             { name: 'SIEGE_N_SIEGE', index: 'SIEGE_N_SIEGE', sorttype: "int", align: 'center', width: (pageWidth * (25 / 100)) },
            { name: 'LIBELLE_FR', index: 'LIBELLE_FR', align: 'center', width: (pageWidth * (25 / 100)) },
        //    { name: 'LIBELLE_AR', index: 'LIBELLE_AR', width: (pageWidth * (25 / 100)) },

                ],
                rowNum: 25,

                rowList: [10, 20,25 , 30, 40],
                width: null,
                shrinkToFit: false,
                pager: jQuery('#pager'),
                height: '100%',
                viewrecords: true,
                recordtext: "Comptes Analytiques à 5 chiffres  {0} - {1} de {2}",
                rownumbers: true,
              //  autowidht: true,
                loadonce: true,
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",

                },

            });

            jQuery("#list").jqGrid('navGrid', '#pager', { edit: false, add: false, del: false });
        });

    </script>
}














